@import url('https://fonts.googleapis.com/css?family=Hind');

.App {
    text-align: center;
    font-family: "Hind", sans-serif
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Experience {
    text-align: left;
    background: blue;
    width: 30%;
    height: 100%;
}

ul {
    list-style: none;
}

text {
    display: block;
}
